*,
*::before,
*::after {
    padding: 0;
    margin : 0;
}

:root {
    --base-color             : #f5f4ed;
    --primary-font-color     : #0d2f3f;
    --primary-color          : #286f6c;
    --secondary-color        : #d7720c;
    --ternary-color          : #ffb200;
    --section-even           : #fff;
    --bullet-odd             : var(--primary-color);
    --bullet-even            : #ffb200;
    --skill-card-bg          : #f5f5f5;
    --skill-card-color       : #f5f5f5;
    --project-tile-color     : #0d2f3f;
    --project-tile-box-shadow: #0d2f3f;
    --svg-rect-bg            : #9b9b9b;
}

:root[data-theme=dark] {
    --base-color             : #181e2d;
    --primary-font-color     : #ffffff;
    --primary-color          : #16ccc4;
    --secondary-color        : #d7720c;
    --ternary-color          : #ffb200;
    --section-even           : #202135;
    --bullet-odd             : var(--primary-color);
    --bullet-even            : #ffb200;
    --skill-card-bg          : #f5f5f5;
    --skill-card-color       : #f5f5f5;
    --project-tile-color     : #181e2d;
    --project-tile-box-shadow: #181e2d;
    --svg-rect-bg            : gainsboro;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--base-color);
    color           : var(--primary-font-color);
    font-size       : 1rem;
    font-family     : Montserrat, Open Sans;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color          : #000;
    font-size      : inherit;
}

nav,
section,
footer {
    transition: all .5s ease-in-out;
}

#navbar {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    gap             : 20px;
    position        : fixed;
    top             : 0;
    right           : 0;
    left            : 0;
    z-index         : 1000;
    padding         : 1rem 4rem;
    flex-wrap       : wrap;
    flex            : 1 1 auto;
    background-color: var(--base-color);
}

#nav-list {
    display        : flex;
    justify-content: flex-end;
    flex           : 1;
}

#nav-list li {
    display        : flex;
    align-items    : center;
    height         : 50px;
    align-content  : center;
    justify-content: center;
    position       : relative;
    border-bottom  : 0px solid var(--secondary-color);
}

#nav-list li a {
    display       : block;
    padding       : 5px 20px;
    font-weight   : inherit;
    color         : inherit;
    text-transform: uppercase;
    z-index       : 2;
}

nav li.active-window,
nav li:hover {
    color      : var(--primary-color);
    font-weight: 600;
}

#nav-list li.nav-item::before {
    content      : "";
    position     : absolute;
    width        : 0%;
    height       : 100%;
    top          : 0;
    left         : 100%;
    border-bottom: 3px solid var(--secondary-color);
    transition   : 0.2s all linear;
}

#nav-list li.nav-item:hover::before {
    left : 0;
    width: 100%;
}

#nav-list li.nav-item:hover~li::before {
    left: 0;
}

#nav-theme {
    display        : flex;
    flex-direction : row;
    align-items    : center;
    justify-content: flex-end;
    position       : relative;
    cursor         : pointer;
}

#ham-menu {
    display         : block;
    visibility      : hidden;
    position        : absolute;
    right           : -19px;
    top             : 2.5rem;
    transform       : scaleY(0);
    transform-origin: top;
    background      : var(--base-color);
    opacity         : 0;
    z-index         : -9999;
    flex-direction  : column;
    transition      : all 0.5s ease-in-out;
    box-shadow      : -1px 0px 7px 0px #27272761;
}

#ham-menu.is-show {
    visibility: visible;
    opacity   : 1;
    z-index   : 5;
    transform : scaleY(1);
}

#ham-menu li {
    display    : block;
    margin     : 5px 0px;
    border-left: 3px solid transparent;
}

#ham-menu li a {
    display       : block;
    padding       : 10px 20px;
    font-weight   : inherit;
    color         : inherit;
    text-transform: uppercase;
    text-align    : right;
}

#ham-menu li.active-window,
#ham-menu li:hover {
    background-color: var(--base-color);
    border-left     : 3px solid var(--secondary-color);
}

#nav-right-menu {
    display: flex;
    gap    : 20px;
}

#nav-burger {
    display        : none;
    flex-direction : row;
    justify-content: flex-end;
    align-items    : center;
    gap            : 5px;
    text-transform : uppercase;
    text-align     : right;
}

div.hamburger-menu {
    position: relative;
}

#hamburger {
    z-index        : 20;
    width          : 30px;
    height         : 30px;
    display        : flex;
    cursor         : pointer;
    justify-content: space-evenly;
    flex-direction : column;
}

#hamburger>div:first-of-type {
    align-self: flex-start;
}

#hamburger>div:nth-of-type(2) {
    transition: all 0.8s cubic-bezier(0, 0, 0, 1) 0s;
}

#hamburger>div:last-child {
    align-self: flex-end;
}

#hamburger>div {
    width     : 100%;
    height    : 2px;
    background: var(--primary-font-color);
    transition: background-color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, width 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) .2s;
}

#hamburger.bars.active>div:first-of-type {
    transform: translateY(8px) rotate(45deg);
    width    : 100%;
}

#hamburger.bars.active>div:nth-of-type(2) {
    transform: scale(0);
}

#hamburger.bars.active>div:last-child {
    transform: translateY(-8px) rotate(-45deg);
    width    : 100%;
}

#hamburger:hover>div:first-of-type {
    width     : 50%;
    align-self: flex-start;
}

#hamburger:hover>div:last-child {
    width     : 50%;
    align-self: flex-end;
}

section {
    min-height: 100vh;
    height    : 100%;
    padding   : 0px 4rem;
    position  : relative;
    overflow  : hidden;
}

#projects {
    min-height: 50vh;
}

#contact {
    padding         : 0px 3rem 2rem 3rem;
    position        : relative;
    font-family     : Poppins, Montserrat, Open Sans;
    display         : flex;
    flex-direction  : column;
    justify-content : flex-end;
    min-height      : 100%;
    background-color: var(--section-even);
    color           : var(--primary-font-color);
}

section:nth-of-type(even) {
    background-color: var(--section-even);
}

section .section_wrap {
    padding-top: 6.5rem;
}

#home .home_template {
    display              : grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows   : repeat(2, 3fr) 1fr;
    grid-template-areas  : "header header""main .""footer footer";
    align-items          : center;
    gap                  : 10px;
    font-family          : Poppins, Montserrat, Open Sans;
    font-weight          : 600;
    height               : calc(100% - 7.5rem);
}

#home .title h1 {
    font-size: 4.5rem;
}

#skills .title h1,
#experience .title h1,
#projects .title h1 {
    font-size  : 4rem;
    font-weight: bold;
}

#home p {
    font-weight: 600;
    font-size  : 0.875rem;
}

#home p.workdescription {
    font-size: 1rem;
}

#home p.quote {
    text-align: end;
}

#home .experience {
    display       : flex;
    flex-direction: column;
    gap           : 0px;
    align-items   : flex-start;
}

#home .experience_wrapper {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    gap           : 10px;
}


#home .experience_wrapper h3 {
    width: min-content;
}

.button.primary {
    line-height  : 30px;
    width        : fit-content;
    background   : white;
    color        : black;
    padding      : 10px 20px;
    border-radius: 4px;
    cursor       : pointer;
    user-select  : none;
}

.button.primary {
    background: #d7730e;
    color     : white;
}

.button.has-icon i {
    margin-left: 10px;
}

.button:hover {
    background: #e08f3d;
    transition: all 0.8s cubic-bezier(0, 0, 0, 1) 0s;
}

#home img.bg-avatar {
    height    : auto;
    width     : 100%;
    max-width : 95vh;
    position  : absolute;
    bottom    : -8%;
    left      : 0;
    right     : 0;
    z-index   : -1;
    margin    : auto;
    transition: all .1s ease-in;
}

.experience .experience_year {
    font-size  : 3.5rem;
    font-weight: bold;
    font-family: Montserrat, Open Sans;
    text-align : center;
}

.experience .item-2,
.work .item-2 {
    display       : flex;
    flex-direction: column;
    text-transform: uppercase;
    font-weight   : 600;
}

.work .item-2 {
    align-items: baseline;
}

.svg-wrapper {
    position: absolute;
    height  : 100%;
    width   : 100%;
    top     : 0;
    bottom  : 0;
    left    : 0;
    right   : 0;
}

svg.svg-rect {
    position: absolute;
    opacity : 0.7;
    z-index : 0;
    color   : var(--svg-rect-bg);
}

svg.svg-rect.svg-rect-right {
    left     : 100%;
    bottom   : 100%;
    transform: translate(-70%, 100%);
}

svg.svg-rect.svg-rect-left {
    right    : 100%;
    top      : 100%;
    transform: translate(70%, -80%);
}

div.inprogess_wrapper {
    margin          : auto;
    width           : 80%;
    height          : 80%;
    display         : flex;
    border          : 1px solid gainsboro;
    border-radius   : 10px;
    box-shadow      : 0px 0px 6px 2px #dcdcdc69;
    background-color: #ffffff;
    align-items     : center;
    text-align      : center;
}

div.inprogess_wrapper p {
    margin: 0 auto;
}

#skills .skills_template {
    display       : flex;
    flex-direction: column;
    position      : relative;
}

li.skill-tab-body {
    display: none;
}

li.skill-tab-body.active {
    display: flex;
}

ul.skill-tab-header-wrapper {
    border-bottom  : 1px solid gainsboro;
    overflow       : auto;
    white-space    : nowrap;
    scrollbar-color: gainsboro transparent;
    user-select    : none;
}

ul.skill-tab-header-wrapper::-webkit-scrollbar {
    height: 5px;
}

ul.skill-tab-header-wrapper::-webkit-scrollbar-thumb {
    background-color: gainsboro;
}

ul li.skill-tab-head {
    min-width    : 100px;
    min-height   : 25px;
    line-height  : 25px;
    padding      : 5px 10px;
    border-bottom: 3px solid transparent;
    cursor       : pointer;
    display      : inline-block;
}

ul li.skill-tab-head:not(.active):hover {
    background-color: #f8f8f8;
}

ul li.skill-tab-head.active {
    border-bottom-color: var(--primary-color);
}

#skills .skills_wrapper {
    display        : flex;
    width          : 100%;
    height         : 100%;
    margin-top     : 20px;
    flex-wrap      : wrap;
    justify-content: space-evenly;
    align-content  : center;
}

img.skill-img {
    width    : 3rem;
    max-width: 100%;
    height   : auto;
}

.skill-card {
    background   : var(--skill-card-bg);
    display      : flex;
    align-items  : center;
    width        : 12rem;
    padding      : 0.5rem 1rem;
    border-radius: 5px;
    margin       : 1rem;
    cursor       : pointer;
}

.skill-card h4 {
    color      : #0d2f3f;
    margin-left: 1rem;
}

progress {
    appearance: none;
    margin    : 0;
    height    : 12px;
    border    : none;
    width     : 100%;
}

progress[value]::-webkit-progress-bar {
    background-color: whiteSmoke;
}

progress::-webkit-progress-value {
    background-color: #ffb200;
}

progress:hover::before {
    content  : attr(value);
    position : absolute;
    font-size: 10px;
    left     : 85%;
}

#experience .experience_template {
    display       : flex;
    flex-direction: column;
    align-items   : flex-start;
}

#experience .title {
    text-align: center;
}

#experience .grid_wrapper {
    display              : grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows   : auto;
    align-items          : start;
    justify-content      : start;
    row-gap              : 10px;
    font-family          : Poppins, Montserrat, Open Sans;
}

#experience .work_exp_wrapper {
    padding    : 1.25rem;
    display    : grid;
    place-items: center;
    min-height : calc(100vh - 12rem);
    margin     : 0 auto;
}

#experience .workplace {
    padding-left: 1.5rem !important;
}

#experience .grid_wrapper div.grid-cell {
    height  : -webkit-fill-available;
    height  : -moz-available;
    padding : 10px;
    position: relative;
}

#experience .grid_wrapper div.grid-cell:nth-child(odd) {
    border-right: 1px dotted;
}

#experience h2.company-name,
#experience h2.work-role {
    margin-bottom: 10px;
    font-weight  : 700;
}

#experience p.work-description {
    line-height: 1.5rem;
}

#experience .experience-descr {
    padding-left: 1.5rem !important;
}

#experience .grid-cell::before {
    width          : 2.24rem;
    height         : 2.24rem;
    position       : absolute;
    left           : -1.15rem;
    top            : .5rem;
    font-size      : 3rem;
    color          : var(--bullet-odd);
    display        : flex;
    align-items    : center;
    justify-content: center;
}

#experience .grid-cell.workplace::before {
    content: "";
}

#experience .grid-cell.experience-descr::before {
    content: "\25CF";
}

#experience .grid_wrapper div.experience-descr:nth-child(4n):before,
#experience .grid_wrapper div.workplace:nth-of-type(3n):before {
    color: var(--bullet-even);
}

#projects .title {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    padding        : 0;
}

#projects .title a {
    font-weight: 600;
    color      : var(--secondary-color);
}

#projects .title a:hover {
    text-decoration-thickness: from-font;
    text-decoration-style    : dashed;
    text-decoration-line     : underline;
    text-underline-position  : under;
}

.grid-contain {
    z-index: 5;
}

.grid-scrollable {
    user-select               : none;
    overflow-y                : hidden;
    transform                 : translateZ(0);
    -webkit-overflow-scrolling: touch;
}

.grid-track {
    display              : grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap                  : 1rem;
    margin               : 0;
    padding              : 2rem 1rem;

}

.project-tile {
    box-sizing   : border-box;
    background   : white;
    color        : #0d2f3f;
    font-weight  : 600;
    display      : flex;
    gap          : 5px;
    border-radius: 5px;
    padding      : 1.25rem;
    overflow     : hidden;

    transition    : all .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transform     : translateY(60px);
    opacity       : 0;
    border        : 1px solid var(--project-tile-color);
    box-shadow    : var(--project-tile-box-shadow) 5px 5px 0 0px;
    height        : auto;
    flex-direction: column;
}

.project-tile:hover {
    transform : scale(1.05);
    z-index   : 20;
    box-shadow: var(--project-tile-box-shadow) 5px 5px 7px 0px;
}

.project-tile p.tag {
    /* margin-top: 4px; */
    font-size: 12px;
}

p.backend-tag::before {
    content     : "\f233";
    font-family : "FontAwesome";
    font-size   : inherit;
    margin-right: 5px;
}

p.frontend-tag::before {
    content     : "\f108";
    font-family : "FontAwesome";
    font-size   : inherit;
    margin-right: 5px;
}

.picture_wrapper {
    position     : relative;
    height       : -webkit-fill-available;
    /* margin-top: 10px; */
    flex         : 2;
}

.picture_wrapper a {
    display: block;
}

img.image_preview_shot {
    display   : block;
    width     : -webkit-fill-available;
    width     : -moz-available;
    height    : auto;
    object-fit: contain;
}

.project-tile a.preview_link {
    position: absolute;
    left    : 0;
    right   : 0;
    top     : 0;
    bottom  : 0;
    border  : 0 !important;
}

.project-tile h1 {
    font-size  : 1.25rem;
    font-weight: bold;

}

.project-tile p {
    font-size    : 1rem;
    font-weight  : lighter;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    white-space  : nowrap;
    overflow     : hidden;
}

.grid-scrollable::-webkit-scrollbar {
    opacity: 0;
    height : 0;
}

.anim-slide {
    transform: translateY(0px);
    opacity  : 1;
}

.container {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    padding-top    : 3rem;
}

.footer_wrap {
    display       : flex;
    flex-direction: row;
    height        : 100%;
    flex-wrap     : wrap;
    padding       : 0px 30px;
    column-gap    : 10px;
}

.footer_banner {
    flex   : 2;
    padding: 50px 0px;
    display: block;
}

.footer_banner>p {
    font-size    : 2.5rem;
    font-weight  : bold;
    margin-bottom: 50px;
}

.footer_links {
    flex           : 1;
    padding        : 50px 0px;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    gap            : 50px;
}

.footer_links .sidebar {
    width: 100%;
}

.footer_links .infobar h2 {
    font-size : 1.5rem;
    margin-top: 10px;
}

ul.navbar-nav {
    display       : flex;
    flex-direction: column;
    gap           : 20px;
}

.navbar-nav li {
    padding: 5px 0px;
}

.navbar-nav li a {
    color: inherit;
}

.navbar-nav li:hover {
    text-decoration-thickness: from-font;
    text-decoration-style    : dashed;
    text-decoration-line     : underline;
    text-underline-position  : under;
}

.footer_social {
    margin-bottom  : 25px;
    display        : inline-flex;
    gap            : 1rem;
    width          : 100%;
    justify-content: center;
    flex-wrap      : wrap;
}

.footer_social a {
    display        : inline-flex;
    width          : 50px;
    height         : 50px;
    align-items    : center;
    justify-content: center;
    background     : #fff;
    border         : 1px solid gray;
    border-radius  : 20px;
    font-size      : 1rem;
    text-decoration: none;
}

.footer_social a:hover {
    color       : white;
    border-color: transparent;
    background  : #ffb200;
    transition  : all 0.4s cubic-bezier(0, 0, 0.2, 1);
}

.footer_bottom {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    border-top     : 1px solid #969595;
    align-items    : center;
    padding-top    : 2rem;
}

.footer-left {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    column-gap     : 2rem;
}

.footer-logo {
    border-right : 1px solid gainsboro;
    font-size    : 1.5rem;
    font-family  : Pacifico, Montserrat, Open Sans;
    padding-right: 2rem;
    margin-right : 2rem;
}

.dribble {
    font-weight: 600;
    font-size  : inherit;
    color      : var(--primary-color);
}

/**Responsiveness **/
/** ---1500px --- **/
@media only screen and (max-width: 1500px) {
    #home p.quote {
        text-align: end;
    }
}

/** ---1300px --- **/
@media only screen and (max-width: 1300px) {
    #home p.quote {
        text-align: end;
    }
}

/** ---980px --- **/
@media only screen and (max-width: 980px) {
    #navbar {
        position: relative;
    }

    #nav-burger {
        display: flex;
    }

    #nav-list,
    #nav-theme1 {
        display: none;
    }

    #nav-char {
        font-size: 24px;
        min-width: 0;
    }

    #navbar {
        border-bottom: 1px solid gainsboro;
    }

    #ham-menu li a {
        font-size: 24px;
    }

    #navbar,
    section,
    #contact {
        padding: 20px;
    }

    section .section_wrap {
        padding-top: 0px;
    }

    #home .home_template {
        grid-template-areas  : "header""header""main""footer";
        gap                  : 10px;
        grid-template-columns: repeat(2, 1fr);
        height               : auto;
    }

    #home p.quote {
        text-align: left;
    }

    #home div.mail-to {
        display: inline-flex;
        gap    : 10px;
    }

    #home .experience_wrapper h3 {
        width: auto;
    }

    #home div.experience .item-2 p,
    #home div.work .item-2 p {
        font-size: 1.1rem;
    }

    #home .title h1,
    #skills .title h1,
    #experience .title h1,
    #projects .title h1 {
        font-size: 4rem;
    }

    .experience .experience_year {
        font-size: 1.7em;
    }

    #home img.company-logo {
        width        : 50px;
        height       : 50px;
        margin-bottom: 14px;
    }

    #experience .work_exp_wrapper {
        min-height: calc(100vh - 7rem);
    }

    #experience .grid_wrapper {
        grid-template-columns: 1fr;
        row-gap              : 0;
    }

    #experience .grid_wrapper div.grid-cell {
        border-left: 1px dotted;
    }

    #experience .grid_wrapper div.grid-cell:nth-child(odd) {
        border-right: 0 !important;
    }

    #experience .grid_wrapper div.grid-cell:nth-child(even) {
        margin-bottom: 15px
    }

    #experience .grid-cell.workplace::before {
        content: "\25CF";
    }

    #experience .grid-cell.experience-descr::before {
        content: "";
    }

    #experience h2.company-name,
    #experience h2.work-role {
        font-size: 1.5rem;
    }

    #experience p.work-duration,
    #experience p.work-description {
        font-size: 1rem;
    }

    #experience h2.company-name,
    #experience h2.work-role {
        margin-bottom: 0;
    }

    #projects .title {
        align-items   : flex-start;
        flex-direction: column;
    }

    #projects .title a {
        font-size  : 1rem;
        margin-left: 5px;
    }

    .footer_wrap {
        flex-direction: column;
        padding       : 0;
    }

    .footer_banner {
        padding: 30px 0px;
        padding: 0;
    }

    .footer_banner>p {
        font-size: 2rem;
    }

    .footer_links {
        padding        : 30px 0px;
        padding-top    : 0px;
        flex-direction : row-reverse;
        justify-content: space-between;
    }

    .footer_links .infobar h2 {
        font-size: 1.3rem;
        margin   : 0;
    }

    .footer_links .infobar p,
    .navbar-nav li {
        font-size: 1rem;
    }

    .footer_bottom {
        padding: 1rem 0 0 0;
    }

    .footer_bottom p {
        font-size: 16px;
    }

    p.footer-logo {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 800px) {
    #home .home_template {
        grid-template-areas  : "header""main""main""footer";
        grid-template-columns: 1fr;
        grid-template-rows   : auto;
        gap                  : 10px;
        height               : auto;
    }
}

/** --- 430px  --- **/
@media only screen and (max-width: 430px) {
    #ham-menu li a {
        font-size: 1rem;
    }

    #home .title h1 {
        font-size: 2.25rem;
    }

    #skills .title h1,
    #experience .title h1,
    #projects .title h1 {
        font-size: 2rem;
    }

    #home .home_template {
        grid-template-areas  : none;
        grid-template-columns: none;
        grid-template-rows   : auto;
        gap                  : 10px;
        height               : auto;
    }

    #home .home_template>p,
    #home div.mail-to p,
    #home div.mail-to a {
        font-size: 0.75rem;
    }

    #experience .work_exp_wrapper {
        min-height: calc(100vh - 5rem);
    }

    #experience .grid_wrapper {
        grid-template-columns: 1fr;
        row-gap              : 0;
    }

    #experience .grid_wrapper div.grid-cell {
        border-left: 1px dotted;
    }

    #experience .grid_wrapper div.grid-cell:nth-child(odd) {
        border-right: 0 !important;
    }

    #experience .grid_wrapper div.grid-cell:nth-child(even) {
        margin-bottom: 15px
    }

    #experience .grid-cell.workplace::before {
        content: "\25CF";
    }

    #experience .grid-cell.experience-descr::before {
        content: "";
    }

    #experience h2.company-name,
    #experience h2.work-role {
        font-size: 1.2rem;
    }

    #experience p.work-duration,
    #experience p.work-description {
        font-size: 0.65rem;
    }

    #experience h2.company-name,
    #experience h2.work-role {
        margin-bottom: 0;
    }

    .project-tile h1 {
        font-size    : 1rem;
        margin-bottom: 0;
    }

    .project-tile p {
        font-size: 0.625rem;
    }

    .project-tile p.tag {
        font-size: 0.5rem;
    }

    .footer_banner>p {
        margin-bottom: 2rem;
    }

    .footer_links {
        gap: 20px;
    }

    ul.navbar-nav {
        gap: 0.6rem;
    }

    .footer_social a {
        width : 2.5rem;
        height: 2.5rem;
    }

    .footer_links {
        padding: 0 0 1rem 0;
        gap    : 1rem;
    }

    .footer_links .infobar h2 {
        font-size: 1.1rem;
    }

    .footer_links .infobar p,
    .navbar-nav li {
        font-size: 0.85rem;
    }

    .footer_bottom p {
        font-size: 12px;
    }

    p.footer-logo {
        padding  : 0;
        margin   : 0;
        border   : 0;
        font-size: 1.2rem;
    }
}