.contact {
  margin-left: 0;
  margin-right: 0;

  .row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;

    .col {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .contact-main {
    flex-grow: 1;
    flex-direction: row;

    .contact-main-left {
      padding-right: 1.5rem;

     p {
        margin-bottom: 0.5rem;
        font-weight: 700;
      }
    }

    .contact-main-right{
      margin: auto;
    }
  }

  .contact-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0;
  }
}

.contact_form {

  .form-control {
    border: 1px solid #000000;
    border-radius: 4px;
    box-shadow: none !important;
    margin-bottom: 1rem;
  }

  textarea {
    height: 200px;
  }

  .has-validation .form-control {
    border-color: #dc3545;
  }

  .invalid-feedback {
    display: block;
    margin-top: -1rem;
    margin-bottom: 4px;
  }

  .contact-submit {
    width: 30%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

@-webkit-keyframes spinner{
  to{
      transform:rotate(-360deg)
  }
}

@keyframes spinner{
  to{
      transform:rotate(-360deg)
  }
}

.animate-spinner {
  -webkit-animation: 1.2s linear infinite spinner;
  animation: 1.2s linear infinite spinner;
}

@media (max-width: 992px) {
  .contact{
    .contact-main {
      flex-direction: column;
    }
  }
}