.contact_form {

  .form-control {
    border: 1px solid #000000;
    border-radius: 4px;
    box-shadow: none !important;
    margin-bottom: 1rem;
  }

  textarea {
    height: 200px;
  }

  .has-validation .form-control {
    border-color: #dc3545;
  }

  .invalid-feedback {
    display: block;
    margin-top: -1rem;
    margin-bottom: 4px;
  }

  .contact-submit {
    width: 30%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

@-webkit-keyframes spinner{
  to{
      transform:rotate(-360deg)
  }
}

@keyframes spinner{
  to{
      transform:rotate(-360deg)
  }
}

.animate-spinner {
  -webkit-animation: 1.2s linear infinite spinner;
  animation: 1.2s linear infinite spinner;
}