.projects-container {
  padding-bottom: 1rem;
}

.projects_featured {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
}

.gray_bold_text {
  font-size: 0.8rem;
  font-weight: 700;
  color: #6f7391;
  text-decoration: none;
}

.project_content {
  display: flex;
  width: 100%;
  flex: 1;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  gap: 10px;

  .project_card {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    display: none;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 0;

    &.active {
      display: flex;
    }

    .card_title {
      font-size: calc(3rem + 1.2vw);
      line-height: 1.2;
      font-weight: 700;
    }
    
    .card_description {
      color: #6f7391;
    }
    
    .card_main {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0.5rem;
    }
    
    .card_image {
      border-radius: 8px;
      padding-left: calc(var(--bs-gutter-x) * .6);
      padding-right: calc(var(--bs-gutter-x) * .6);
      padding-top: calc(var(--bs-gutter-x) * .6);
      padding-bottom: 0;
      max-height: 330px;
      overflow: hidden;

      img {
        object-fit: cover;
        object-position: top left;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
        border-radius: 8px 8px 0 0 ;
        box-shadow: 0px 2px 20px rgb(0 0 0 / 12%), 0 20px 20px -10px rgb(0 0 0 / 13%);
      } 
    }

    .project_link {
      width: auto;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0;
      cursor: pointer;
      text-decoration: none;
      color: black;
    }
  }
}


.featured_projects {
  .project {
    border-top: 2px solid #dee2e6 !important;
    color: #c0c0cf;
    text-align: start !important;
    padding: 2px;
    padding-top: 1.5rem;
    margin-bottom: 0.5rem;
    line-height: 14px;
    flex: 1 1 auto;
    cursor: pointer;

    &:hover,
    &:active,
    &.active {
      border-top: 2px solid black !important;
      color: black;
    }
  }
}

.projects_gallery {
  margin-top: 3rem;
}

.gallery_header {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.gallery_projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
  margin-bottom: 0;
  list-style: none;

  
  .gallery_card {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    width: 330px;
    margin-bottom: 1rem;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12), 0 7px 10px -10px rgba(0, 0, 0, 0.125);
    transition: all 0.45s ease;
    cursor: pointer;

    .card_image {
      transition: all 0.45s ease;
      overflow: hidden;
      max-height: 200px;
      min-height: 200px;

      img {
        transition: all 0.45s ease;
        object-fit: cover;
        object-position: top;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
        border-radius: 8px 8px 0 0;
      }
    }

    .card_details {
      padding: 1rem;

      .card_title {
        font-size: 1.25rem;
        font-weight: 700;
      }

      .card_links {
        display: inline-flex;
        gap: 10px;
        
        a {
          color: inherit;
          font-size: inherit;
        }
      }
      .card_links,
      .card_tags,
      .card_description {
        font-size: 14px;
      }

      .card_description {
        color: gray;
        height: 65px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    &:hover {

      // transform: scale(1.04);

      .card_image {
        
        img {
          transform: translateY(4px) scale(1.1);
          border-radius: 6px;
        }
      }
    }
  }
}

.projects_footer {
  padding: 4rem;
}