body::before, body::after {
  content: "";
  position: fixed;
  background: rgba(0,0,0,1);
  left: 0;
  right: 0;
  height: 6px;
  z-index: 1025;
}

body::before {
  top: 0;
}

body:after {
  bottom: 0;
}

body {
  border-left: 6px solid rgba(0,0,0,1);
  border-right: 6px solid rgba(0,0,0,1);
}

html,body{
  scroll-behavior: smooth;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

#root {
  position: relative;
}

.btn {
  border-radius: 50px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;

  &.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #2e8d88;
    --bs-btn-border-color: #2e8d88;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #286f6c;
    --bs-btn-hover-border-color: #286f6c;
    --bs-btn-focus-shadow-rgb: 46,141,136;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2e8d88;
    --bs-btn-active-border-color: #2e8d88;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #2e8d88;
    --bs-btn-disabled-border-color: #2e8d88;
  }
}

.fs-auto {
  font-size: calc(1.05rem + .3vw);
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translate3d(40px, 0px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translate3d(0px, -40px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translate3d(0px, 40px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

@keyframes slideInOutFromBottom {
  0% {
    opacity: 0;
    transform: translate3d(0px, 40px, 0px);
  }
  50% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
  100% {
    opacity: 0;
    transform: translate3d(0px, -40px, 0px);
  }
}

@keyframes grow {
  0% {
    height: 0px;
  }
  100% {
    height: 100%;
  }
}

@keyframes circle-load {
  0% {
    border-color: transparent;
    border-bottom-color:#2e8d88;
  }
  33% {
    border-color: transparent;
    border-left-color:#2e8d88;
    border-bottom-color:#2e8d88;
  }
  66% {
    border-color: transparent;
    border-left-color:#2e8d88;
    border-bottom-color:#2e8d88;
    border-top-color:#2e8d88;
  }
  100% {        
    border-color: #2e8d88;
  }
}